li{
    display: inline;
    padding: 20px;
    background-color:antiquewhite;
    position: relative;
    left:100px;
    top:40px;
}
h1{
    color:brown;
}
h2{
    color: brown;
}
p{
    font-family: 'Pacifico', cursive;
    color: antiquewhite;

}
h1:hover{
    color: orangered;
}
#india:hover{
    color:green;
}
h2:hover{
    color: antiquewhite;
}
body{
    background-color: black;
}
iframe{
    border: 5px solid rgb(205, 190, 209);
    border-style: double;
    border-inline-color: red;
}
div{
    width: 100%;
    height:200px;
}
a:hover{
    color: blue;
}
#sachin{
    width: 100px;
    height:100px;
    position: relative;
    left:460px;
    top:-100px;
}
#sachin img{
    width: 100PX;
    height: 100px;
    border-radius: 100px;
}
#king{
    color:black;
    position: relative;
    left:400px;
    top:200px;
    text-shadow: 2px 2px 5px;

}
p::selection{
    color: yellow;
    background-color: red;
}
#gradient{
    background-image: linear-gradient(to right, rgb(255, 102, 0),white,green);
}
#top{
    width: 100%;
    background-image: linear-gradient(to right, rgb(255, 102, 0),white,green,black,red);
}

